<div class="row">
    <market-buttons [buttons]="buttons" (buttonOperation)="buttonOperationHandler($event)"></market-buttons>
</div>

<div class="d-flex justify-content-center mt-4">
    <!--<div *ngIf="!viewHistory">
        <h5>IL TUO ZAINO</h5>
    </div>-->
    <div>
        <h5>Le tue carte in vendita</h5>
    </div>
</div>


<!-- <div class="d-flex justify-content-left mt-2">
    <button class="btn btn-sm rounded grigino" (click)="doFilter()"><i class="fa fa-filter"></i></button>
    <input *ngIf="viewFilter" [(ngModel)]="filterName" type="text" class="form-control sfondino" placeholder="Cerca carta" myAutofocus>
</div> -->

<div>
    <table class="table table-hover mt-2 text-center">
        <thead>
            <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">Costo</th>
                <th scope="col">Nome</th>
                <th scope="col">ATK</th>
                <th scope="col">DEF</th>
            </tr>
        </thead>
        <!-- 
        <tbody *ngIf="!viewHistory">
            <tr *ngFor="let card of zaino | filterZaino: filterName! | slice:sliceStart:sliceEnd; let i=index">
                <td>
                    <button type="button" class="btn btn-outline-dark btn-sm" (click)="sell(card)"><i class="fa fa-dollar"></i></button>
                </td>
                <td class="text-truncate" (click)="show(card)">{{card.name}}</td>
                <td>{{card.atk}}</td>
                <td>{{card.def}}</td>
            </tr>
        </tbody>-->
        <tbody> <!-- > *ngIf="viewHistory">-->
            <tr *ngFor="let sc of history">
                <td>
                    <button type="button" class="btn btn-outline-dark btn-sm" (click)="deleteSell(sc.id,sc.card.id)"><i class="fa fa-trash"></i></button>
                </td>
                <td>{{sc.prezzo}}</td>
                <td class="text-truncate" (click)="showCard(sc.card)">{{sc.card.name}}</td>
                <td>{{sc.card.atk}}</td>
                <td>{{sc.card.def}}</td>
            </tr>
        </tbody>
    </table>
    <!-- 
    <div class="row mt-1">
        <div class="d-flex justify-content-between mt-1">
            <button class="btn btn-outline-dark btn-sm px-3" *ngIf="sliceStart>0" (click)="backSlice()"><i class="fa fa-arrow-left"></i></button>
            <button class="btn btn-outline-dark btn-sm px-3" *ngIf="sliceLimit! >= sliceEnd" (click)="continueSlice()"><i class="fa fa-arrow-right"></i></button>
        </div>
    </div>-->
</div>