<div class="row mt-4" *ngIf="true">
    <div *ngFor="let card of cards" class="col">
        <div class="deckcard mb-4" (click)="cardClicked(card)" [@cardFlip]="card.state">
            <div class="face back">
                <img class="deckcard back" src="https://images.ygoprodeck.com/images/cards/back_high.jpg">
            </div>
            <div class="face front">
                <img class="deckcard front" [src]="'https://storage.googleapis.com/ygoprodeck.com/pics/'+card?.id+'.jpg'">
            </div>
        </div>
    </div> 
</div>