.grigino {
    background-color: #8a8989;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
    color: #333;
}

table tr td, table tr th{
    background-color: transparent !important;
}