<div class="d-flex justify-content-center">
    <div class="col-9">
        <player-status [player]="player"></player-status>
        
        <div class="row">
            <market-buttons [buttons]="buttons" (buttonOperation)="buttonOperationHandler($event)"></market-buttons>
        </div>

        <div class="row mt-4 text-center">
            <h3>DAILY SHOP</h3>
        </div>
        <div class="row">
            <div *ngFor="let ds of dailyshop" class="col-3 d-flex justify-content-center pb-5">
                <div class="mt-3 position-relative">
                    <img src="{{'https://images.ygoprodeck.com/images/cards/'+ds.card.id+'.jpg'}}" class="deckcard mb-3" (click)="showCard(ds.card)" />
                    <div class="position-absolute bottom-10 start-50 translate-middle-x">
                        <button type="button" class="btn btn-sm btn-outline-success" style="width: 100px;" (click)="compraCard(ds)">{{ds.prezzo}} <i class="fa fa-database"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4 text-center">
            <h3>MARKET SHOP</h3>
        </div>
        <div class="row pt-3">
            <table class="table table-hover mt-3 text-center" >
                <thead>
                    <tr>
                        <th scope="col">
                            <button type="button" class="btn btn-outline-dark btn-sm" (click)="doShowPack()"><i class="fa fa-inbox"></i></button>&nbsp;
                            <button type="button" class="btn btn-outline-dark btn-sm" (click)="refresh()"><i class="fa fa-refresh"></i></button>
                        </th>
                        <th scope="col">Costo</th>
                        <th scope="col">Nome</th>
                        <th scope="col" *ngIf="!showPack">ATK</th>
                        <th scope="col" *ngIf="!showPack">DEF</th>
                        <th scope="col" *ngIf="showPack">Taglia</th>
                        <th scope="col">Player</th>
                    </tr>
                </thead>
                <tbody *ngIf="!showPack">
                    <tr *ngFor="let sc of marketPlace" >
                        <td *ngIf="sc.playerId!==player?._id">
                            <button type="button" class="btn btn-outline-dark btn-sm" (click)="compraCard(sc)"><i class="fa fa-shopping-cart"></i></button>
                        </td>
                        <td *ngIf="sc.playerId===player?._id">
                            <button type="button" class="btn btn-outline-dark btn-sm" (click)="deleteSell(sc.id,sc.card.id,sc.card.name)"><i class="fa fa-trash"></i></button>
                        </td>
                        <td>{{sc.prezzo}}</td>
                        <td class="text-truncate" (click)="showCard(sc.card)">{{sc.card.name}}</td>
                        <td>{{sc.card.atk}}</td>
                        <td>{{sc.card.def}}</td>
                        <td>{{sc.playerName}}</td>
                    </tr>
                </tbody>
                <tbody *ngIf="showPack">
                    <tr *ngFor="let pack of marketPack">
                        <td *ngIf="pack.playerId!==player?._id">
                            <button type="button" class="btn btn-outline-dark btn-sm" (click)="compraPack(pack)"><i class="fa fa-shopping-cart"></i></button>
                        </td>
                        <td *ngIf="pack.playerId===player?._id">
                            <button type="button" class="btn btn-outline-dark btn-sm" (click)="deleteSellPack(pack)"><i class="fa fa-trash"></i></button>
                        </td>
                        <td>{{pack.prezzo}}</td>
                        <td class="text-truncate">PACK {{pack.name}}</td>
                        <td>{{pack.taglia}}</td>
                        <td>{{pack.playerName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
