<!-- <div class="wheel" [@rotateWheel]="rotateState">
    <div class="slices">
            <div class="slice" *ngFor="let slice of slices; let i = index" [style.background-color]="slice.color" [style.transform]="'rotate(' + getSliceRotation(i) + 'deg)'">
            <div class="label">{{ slice.label }}</div>
        </div>
    </div>
    
</div>
<button (click)="spin()">Spin!</button>
-->

<div class="mt-5 slices" *ngFor="let slice of slices; let i = index">
    <div class="slice" [style.transform]="'translate(-50%, -50%) rotate(' + slice.numTransform + 'deg)'" [style.border-color]="slice.color+' transparent'" >
        <div class="label">{{slice.label}}</div>
    </div>
</div>
<button (click)="toggleRotation()">Ruota l'elemento</button>