<!-- <div class="d-flex justify-content-around mt-4">
    <button *ngIf="viewUpdate || (!viewDetail && !viewUpdate)" type="button" class="col-2 btn btn-lg rounded-pill grigino" (click)="back()"><i class="fa fa-undo"></i></button>
    <button *ngIf="!viewDetail && !viewUpdate" type="button" class="col-2 btn btn-lg rounded-pill grigino" (click)="newDeck()"><i class="fa fa-plus"></i></button>
    <button *ngIf="viewDetail || viewUpdate" type="button" class="col-2 btn btn-lg rounded-pill grigino" (click)="homeDeck()"><i class="fa fa-home"></i></button>
    <button *ngIf="!viewUpdate" type="button" class="col-2 btn btn-lg rounded-pill grigino" (click)="updateDeck()"><i class="fa fa-pencil"></i></button>
    <button *ngIf="!viewDetail && !viewUpdate && viewImport" type="button" class="col-2 btn btn-lg rounded-pill grigino" (click)="import()"><i class="fa fa-download"></i></button>
    <button *ngIf="viewUpdate" type="button" class="col-2 btn btn-lg rounded-pill grigino" (click)="save()"><i class="fa fa-save"></i></button>
</div> -->

<div class="row d-flex justify-content-around mt-4">
    <button *ngFor="let button of buttons" type="button" class="col-2 btn btn-lg rounded-pill grigino " (click)="action(button.code)"><i class='{{button.class}}'></i></button>
</div>
