<div class="d-flex justify-content-around mt-4">
    <button type="button" class="col-2 btn btn-lg rounded-pill grigino" (click)="back()"><i class="fa fa-undo"></i></button>
    <button *ngIf="!viewCard" type="button" class="col-2 btn btn-lg rounded-pill grigino" (click)="newVendita()"><i class="fa fa-briefcase"></i></button>
    <button *ngIf="viewCard" type="button" class="col-2 btn btn-lg rounded-pill grigino" (click)="history()"><i class="fa fa-list"></i></button>
    <button type="button" class="col-2 btn btn-lg rounded-pill grigino" (click)="edicola()"><i class="fa fa-diamond"></i></button>
</div>