<deck-buttons [buttons]="buttons" (buttonOperation)="buttonOperationHandler($event)"></deck-buttons>

<div class="row">
    <div class="d-flex justify-content-center mt-4">
        <h5>{{deck?.name}}</h5>
    </div>
</div>


<div class="row">
    <div class="col-6">
        <card-list [dragDrop]="dragDrop" [dragging]="dragging" [connectedTo]="['zaino']" [typeDeck]="1" [cards]="this.deck?.main!" (showCard)="showCard($event)" (removeCard)="removeCard($event)"></card-list>
        <card-list [dragDrop]="dragDrop" [dragging]="dragging" [connectedTo]="['zaino']" [typeDeck]="2" [cards]="this.deck?.extra!" (showCard)="showCard($event)" (removeCard)="removeCard($event)"></card-list>
        <!-- <card-list [dragDrop]="dragDrop" [dragging]="dragging" [connectedTo]="['zaino']" [typeDeck]="3" [cards]="this.deck?.side!" (showCard)="showCard($event)" (removeCard)="removeCard($event)"></card-list> -->
    </div>
    
    <div class="col-6">
        <div class="d-flex justify-content-around mt-4">
            <h5 *ngIf="!viewFilter">LE TUE CARTE</h5>
            <input *ngIf="viewFilter" class="col-5" [(ngModel)]="filterName" type="text" class="form-control sfondino" placeholder="Cerca card" autofocus>
            <button class="btn btn-sm rounded grigino" (click)="doFilter()"><i class="fa fa-filter"></i></button>
        </div>
        <table class="table table-hover mt-3 text-center" *ngIf="!dragDrop">
            <thead>
                <tr>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">Qnt</th>
                    <th scope="col">Nome</th>
                    <th scope="col">ATK</th>
                    <th scope="col">DEF</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let card of zaino | filterZaino: filterName! | slice:sliceStart:sliceEnd; let i=index">
                    <td>
                        <button type="button" class="btn btn-outline-dark btn-sm" (click)="addCard(card)"><i class="fa fa-arrow-left"></i></button>
                    </td>
                    <td>{{card.qnt}}</td>
                    <td class="text-truncate" (click)="showCard(card)">{{card.name}}</td>
                    <td>{{card.atk}}</td>
                    <td>{{card.def}}</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="dragDrop" class="mt-3">
            <div class="row" cdkDropList (cdkDropListDropped)="onDrop($event)" [cdkDropListData]="zaino" id="zaino" [cdkDropListConnectedTo]="['main','extra']">
                <div *ngFor="let card of zaino | filterZaino: filterName! | slice:sliceStart:sliceEnd; let i=index" class="col-1" cdkDrag (click)="showCard(card)" (cdkDragStarted)="onDragStart()" (cdkDragEnded)="onDragEnd()">
                    <img class="deckcard" src="{{'https://images.ygoprodeck.com/images/cards/'+card?.id+'.jpg'}}"  />
                </div>
            </div>
        </div>
        <div class="row mt-1">
            <div class="d-flex justify-content-between mt-1">
                <button class="btn btn-outline-dark btn-sm px-3" *ngIf="sliceStart>0" (click)="backSlice()"><i class="fa fa-arrow-left"></i></button>
                <button class="btn btn-outline-dark btn-sm px-3" *ngIf="sliceLimit! >= sliceEnd" (click)="continueSlice()"><i class="fa fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>