
.login_btn {
    width: 100%;
    background: #dd0031 !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.input-group-text {
    background: #dd0031 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
span.i {
    padding-top:5px;
    height:26px;
}