<div class="content" role="main">

  <h3 *ngIf="!viewSignIn">ACCEDI</h3>
  <form [formGroup]="loginForm" (ngSubmit)="login()" *ngIf="!viewSignIn">
      <div style="margin-top: 10px;">
          <div class="input-group mb-3">
              <div class="input-group-append">
                  <span class="input-group-text"><i style="padding-top:5px; height:21px;" class="fa fa-user"></i></span>
              </div>
              <input #myinput id="name" formControlName="name" type="text" name="name" class="form-control" value="" placeholder="username" required>
          </div>
          <div class="input-group mb-2">
              <div class="input-group-append">
                  <span class="input-group-text"><i style="padding-top:5px; height:21px;" class="fa fa-key"></i></span>
              </div>
              <input id="password" formControlName="password" type="password" name="password" class="form-control" value="" placeholder="password" required>
          </div>
          <button type="submit" name="button" class="btn login_btn">Login</button>
      </div>
      <div style="margin-top: 40px;">
        <a *ngIf="viewRegistrati" (click)="doRegistrati()">registrati cliccando qui</a>
      </div>
  </form>


  <h3 *ngIf="viewSignIn">REGISTRATI</h3>
  <form [formGroup]="loginForm" (ngSubmit)="signin()" *ngIf="viewSignIn">
    
    <div style="margin-top: 10px;">
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text"><i style="padding-top:5px; height:21px;" class="fa fa-user"></i></span>
            </div>
            <input #myinput id="name" formControlName="name" type="text" name="name" class="form-control" value="" placeholder="username" required>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-append">
                <span class="input-group-text"><i style="padding-top:5px; height:21px;" class="fa fa-key"></i></span>
            </div>
            <input id="password" formControlName="password" type="password" name="password" class="form-control" value="" placeholder="password" required>
        </div>
        <button type="submit" name="button" class="btn login_btn">Registrati</button>
    </div>
  </form>
</div>