<div class="mt-3">
    <div class="row d-flex justify-content-center">
        <button class="col-6 m-2 btn btn-bg rounded grigino" style="margin-right: 5px" (click)="create()">CREA TRADE</button>
    </div>
    <div class="row d-flex justify-content-between">
        <div class="col-5">
            <button *ngIf="!viewFilterZaino" class="btn btn-sm rounded grigino" (click)="doFilterZaino()"><i class="fa fa-filter"></i></button>
            <div class="row mt-3" *ngIf="viewFilterZaino">
                <div class="position-relative">
                    <button class="col-1 btn btn-sm rounded grigino position-absolute top-0 start-100 translate-middle" (click)="doFilterZaino()"><i class="fa fa-times"></i></button>
                </div>
                <filter-card (cardsEmit)="retrieveCardsMyZaino($event)"></filter-card>
            </div>
        </div>
        <div class="col-5">
            <button *ngIf="!viewFilterOppo" class="btn btn-sm rounded grigino" (click)="doFilterOppo()"><i class="fa fa-filter"></i></button>
            <div class="row mt-3" *ngIf="viewFilterOppo">
                <div class="position-relative">
                    <button class="col-1 btn btn-sm rounded grigino position-absolute top-0 start-100 translate-middle" (click)="doFilterOppo()"><i class="fa fa-times"></i></button>
                </div>
                <filter-card (cardsEmit)="retrieveCardsOppo($event)"></filter-card>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6" style="border-right: solid #8a8989 1px">
            <div class="text-center">
                <h5>OFFERTA </h5>
            </div>
            <form [formGroup]="createMyTrade">
                <div class="row mt-4">
                    <div class="col-3">
                        <input type="range" class="form-control" id="coins" formControlName="coins" max="{{player!.coin}}">
                    </div>
                    <div class="col">
                        <strong><label>{{this.createMyTrade.value.coins}}</label></strong>&nbsp;<i class="fa fa fa-database"></i>
                    </div>
                    <div class="col-3">
                        <input type="range" class="form-control" id="credits" formControlName="credits" max="{{player!.credits}}">
                    </div>
                    <div class="col">
                        <strong><label>{{this.createMyTrade.value.credits}}</label></strong>&nbsp;<i class="fa fa fa-diamond"></i>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-6" style="border-left: solid #8a8989 1px">
            <div class="text-center">
                <h5>RICHIESTA </h5>
            </div>
            <form [formGroup]="createYourTrade">
                <div class="row mt-4">
                    <div class="col-3">
                        <input type="range" class="form-control" id="coins" formControlName="coins" max="99999">
                    </div>
                    <div class="col">
                        <strong><label>{{this.createYourTrade.value.coins}}</label></strong>&nbsp;<i class="fa fa fa-database"></i>
                    </div>
                    <div class="col-3">
                        <input type="range" class="form-control" id="credits" formControlName="credits" max="999">
                    </div>
                    <div class="col">
                        <strong><label>{{this.createYourTrade.value.credits}}</label></strong>&nbsp;<i class="fa fa fa-diamond"></i>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="row mt-5">
    <div class="col-3" style="padding-right:80px">
        <label>LE MIE CARTE</label>
        <div *ngIf="myZaino.length>0" class="row mt-2" cdkDropList (cdkDropListDropped)="onDrop($event)" [cdkDropListData]="myZaino" id="myZaino" [cdkDropListConnectedTo]="['myPlate']">
            <div *ngFor="let card of myZaino | filterZaino: searchFilterZaino!" class="col-3" cdkDrag (click)="showCard(card)" (cdkDragStarted)="onDragStart()" (cdkDragEnded)="onDragEnd()">
                <img class="tradecard" src="{{'https://images.ygoprodeck.com/images/cards/'+card?.id+'.jpg'}}"  />
            </div>
        </div>
    </div>
    <div class="col-3" style="padding-right:80px; border-right: solid #8a8989 1px">
        <label>CARTE OFFERTE</label>
        <div *ngIf="myPlate.length>0" class="row mt-2" cdkDropList (cdkDropListDropped)="onDrop($event)" [cdkDropListData]="myPlate" id="myPlate" [cdkDropListConnectedTo]="['myZaino']">
            <div *ngFor="let card of myPlate" class="col-3" cdkDrag (click)="showCard(card)" (cdkDragStarted)="onDragStart()" (cdkDragEnded)="onDragEnd()">
                <img class="tradecard" src="{{'https://images.ygoprodeck.com/images/cards/'+card?.id+'.jpg'}}"  />
            </div>
        </div>
        <div *ngIf="myPlate.length<=0" cdkDropList (cdkDropListDropped)="onDrop($event)" [cdkDropListData]="myPlate" id="myPlate" [cdkDropListConnectedTo]="['myZaino']" >
            <div class="area-drop mt-2"></div>
        </div>
    </div>
    <div class="col-3" style="padding-right:80px; border-left: solid #8a8989 1px">
        <label>CARTE RICHIESTE</label>
        <div *ngIf="oppoPlate.length>0" class="row mt-2" cdkDropList (cdkDropListDropped)="onDrop($event)" [cdkDropListData]="oppoPlate" id="oppoPlate" [cdkDropListConnectedTo]="['oppoZaino']">
            <div *ngFor="let card of oppoPlate" class="col-3" cdkDrag (click)="showCard(card)" (cdkDragStarted)="onDragStart()" (cdkDragEnded)="onDragEnd()">
                <img class="tradecard" src="{{'https://images.ygoprodeck.com/images/cards/'+card?.id+'.jpg'}}"  />
            </div>
        </div>
        <div *ngIf="oppoPlate.length<=0" cdkDropList (cdkDropListDropped)="onDrop($event)" [cdkDropListData]="oppoPlate" id="oppoPlate" [cdkDropListConnectedTo]="['oppoZaino']" >
            <div class="area-drop mt-2"></div>
        </div>
    </div>
    <div class="col-3" style="padding-right:80px">
        <label>CARTE DI <strong>{{selectPlayerName}}</strong></label>
        <div *ngIf="oppoZaino.length>0" class="row mt-2" cdkDropList (cdkDropListDropped)="onDrop($event)" [cdkDropListData]="oppoZaino" id="oppoZaino" [cdkDropListConnectedTo]="['oppoPlate']">
            <div *ngFor="let card of oppoZaino | filterZaino: searchFilterOppo!" class="col-3" cdkDrag (click)="showCard(card)" (cdkDragStarted)="onDragStart()" (cdkDragEnded)="onDragEnd()"> 
                <img class="tradecard" src="{{'https://images.ygoprodeck.com/images/cards/'+card?.id+'.jpg'}}"  />
            </div>
        </div>
    </div>

</div>