.pack {
    width: 220px;
}

.pack:hover {
    opacity: 0.7;
}

.sfondino {
    background-color: #cecdcb;
}

.grigino {
    background-color: #8a8989;
}

table tr td, table tr th{
    background-color: transparent !important;
}