<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="container d-flex justify-content-center">
    <img class="logo" src="https://www.1001hobbies.it/c/56155-large_banner/yu-gi-oh.jpg" />
  </div>
  <label class="position-absolute top-0 start-0">v.0.1.5-AlphaTecnica</label>
  <div>
    <button class="btn btn-bg" (click)="openSideBar()"><i class="fa fa-bars"></i></button>
  </div>
</div>

<sidebar-utenti [isOpen]="viewSideBar" (close)="openSideBar()"></sidebar-utenti>

<div class="content" role="main">
  <div class="container">
    <div>
      <player-status *ngIf="player" [player]="player"></player-status>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  type="square-spin"
  [fullScreen]="true">
  <p style="color: white" > Loading... </p>
</ngx-spinner>