<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="container d-flex justify-content-center">
    <img class="logo" src="https://logodix.com/logo/1996503.gif" (click)="turnHome()" />
  </div>
  <label class="position-absolute top-0 start-0">v.0.0.9-AlphaTecnica</label>
</div>

<div class="content" role="main">
  <div class="container">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  type="square-spin"
  [fullScreen]="true">
  <p style="color: white" > Loading... </p>
</ngx-spinner>