.sidebar {
    position: fixed;
    top: 0;
    right: -250px; /* La larghezza della sidebar */
    height: 100%;
    width: 250px; /* Larghezza desiderata della sidebar */
    background-color: #737170; /* Colore di sfondo della sidebar */
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    color: #fff; /* Colore del testo della sidebar */
}
  
.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #737170;
}

.sidebar li:hover {
    background-color: #737170;
}

.sidebar.open {
    right: 0;
}

/* Stile per l'header della sidebar */
.sidebar-header {
    background-color: #222; /* Colore di sfondo dell'header */
    padding: 10px;
    text-align: center;
}

.sidebar-header h4 {
    color: #fff; /* Colore del testo dell'header */
    margin: 0;
}
  
  