<div class="d-flex justify-content-center">
    <div class="col-9">
        <player-status [player]="player"></player-status>

        <div class="row pt-5">
            <div class="d-flex justify-content-around">
                <button class="btn btn-lg" (click)="modificaDeck()">MODIFICA DECK</button>
                <button class="btn btn-lg" *ngIf="player?.ruolo !== 3" (click)="marketPlace()">MARKET PLACE</button>
            </div>
        </div>

        <div class="row pt-5">
            <div class="d-flex justify-content-around">
                <button class="btn btn-lg" *ngIf="player?.ruolo !== 3" (click)="giocaAdesso()">GIOCA ADESSO</button>
            </div>
        </div>
    </div>
</div>
