.card {
    background-color: #cdcccc;
    color: #3e3d3c !important;
}

.card-body {
    padding-bottom: 0px;
}

button {
    background: #cdcccc !important;
    color: #3e3d3c !important;
}

button:hover {
    display: inline-block;
    border-radius: 10x;
    box-shadow: 5px 10px #df0032;
}