button {
    background: #9ec981 !important;
    color: #3e3d3c !important;
}

button:hover {
    display: inline-block;
    border-radius: 10x;
    box-shadow: 5px 10px #df0032;
}

label {
    font-size: 20px;
    font-family: 'Fantasy';
}

.outline {
    animation: outlineAnimation 3s infinite;
}

.mat-progress-bar {
    position: relative;
  }
  
  .current-label {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white; /* Cambia il colore del testo in base al tuo sfondo */
  }

@keyframes outlineAnimation {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}