<div class="d-flex justify-content-center">
    <div class="col-9">

        <div class="row" *ngIf="bonus">
            <div class="d-flex justify-content-around text-center">
                <div class="outline">
                    <label>Come un magico calendario che svela un piccolo tesoro ogni giorno, il calendario dell'avvento ci avvolge nell'attesa luminosa del Natale</label>
                </div>
            </div>
        </div>

        <!-- 
        <div class="row" *ngIf="bonus">
            <div class="d-flex justify-content-around text-center">
                <div class="outline">
                    <label>Un regalo speciale per te, solo per te. Festeggia il nuovo anno! </label>
                </div>
            </div>
        </div>-->

        <div class="row" *ngIf="dailyshopdoppio">
            <div class="d-flex justify-content-around text-center">
                <div class="outline">
                    <label>Inizia la settimana con il botto! Ogni lunedì, goditi il 'Daily Shop' doppio</label>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="ishorusEye">
            <div class="d-flex justify-content-around text-center">
                <div class="outline">
                    <label>Nuove carte disponibili. Gira la ruota e lasciati guidare dall'antica saggezza di Horus e dal suo regale occhio.</label>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="expBonus">
            <div class="d-flex justify-content-around text-center">
                <div class="outline">
                    <label>Rendiamo il tuo sabato ancora più spettacolare con l'evento EXP x2! Non perderti questa occasione unica per crescere più rapidamente.</label>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="bonus">
            <div class="d-flex justify-content-around text-center">
                <div class="outline">
                    <label>La domenica è il giorno in cui i coin e i crediti vengono raddoppiati, approfittane! </label>
                </div>
            </div>
        </div>

        <!-- <div class="row">
            <div class="d-flex justify-content-around text-center">
                <div class="outline">
                    <label>Giorno 30, 31 e 1 Gennaio dei crediti e dei coin appariranno, approfittane! </label>
                </div>
            </div>
        </div> -->

        <div class="row pt-3">
            <div class="d-flex justify-content-around">
                <button class="btn btn-lg" *ngIf="player?.ruolo !== 3" (click)="alberoMagico()">ALBERO MAGICO</button>
            </div>
        </div>

        <div class="row pt-3">
            <div class="d-flex justify-content-around">
                <button class="btn btn-lg" (click)="modificaDeck()">MODIFICA DECK</button>
                <button class="btn btn-lg" (click)="searchCard()">YU-GI-OH DEX</button>
                <button class="btn btn-lg" (click)="horusEye()">EYE OF HORUS</button>
            </div>
        </div>

        <div class="row pt-5">
            <div class="d-flex justify-content-around">
                <button class="btn btn-lg" *ngIf="player?.ruolo !== 3" (click)="marketPlace()">MARKET PLACE</button>
                <button class="btn btn-lg" *ngIf="player?.ruolo !== 3" (click)="trade()">TRADE</button>
            </div>
        </div>

        <div class="row pt-5">
            <div class="d-flex justify-content-around">
                <button class="btn btn-lg" *ngIf="player?.ruolo !== 3" (click)="giocaAdesso()">GIOCA ADESSO</button>
            </div>
        </div>
    </div>
</div>