.semicerchio {
    width: 100px;
    height: 50px;
    background-color: #7b1fa2;
    border-radius: 100px 100px 0 0;
    position: relative;
    cursor: pointer;
}
  
.number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    color: white;
    font-size: 24px;
}

.level {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    color: white;
    font-size: 16px;
}

.abbassa {
    position:relative;
    top:25px;
}

.pack {
    width: 220px;
}

.pack:hover {
    opacity: 0.7;
}