<player-status [player]="player"></player-status>

<player-buttons [buttons]="buttons" (buttonOperation)="buttonOperationHandler($event)"></player-buttons>

<div *ngIf="!showModify">
    <div class="row">
        <div class="mt-5 col-5 text-center">
            <h3>Profilo</h3>
            <div class="shadow-lg mt-3 p-4 rounded player-detail" *ngIf="player">
                <label>Username: <br><strong>{{player!.name}}</strong></label><br>
                <label>Email: <br><strong>{{player!.email}}</strong></label><br>
                <label>Domanda: <br><strong>{{player!.domanda}}</strong></label><br>
                <label>Risposta: <br><strong>{{player!.risposta}}</strong></label><br>
            </div>
        </div>
        
        <div class="mt-5 col-7 text-center">
            <h3>Progressi</h3>
            <div class="shadow-lg mt-3 p-5 rounded player-detail" *ngIf="player && history">
                <div class="row mt-1">
                    <label>Numero duelli completati: <strong>{{numDuelli}}</strong></label>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <label>Vittorie: <strong>{{numVittorie}}</strong></label>
                    </div>
                    <div class="col">
                        <label>Sconfitte: <strong>{{numSconfitte}}</strong></label>
                    </div>
                </div>
                <div class="row mt-2 percent">
                    <div class="col">
                        <strong>{{((numVittorie / numDuelli!) * 100).toFixed(2)}}%</strong>
                    </div>
                    <div class="col">
                        <strong>{{((numSconfitte / numDuelli) * 100).toFixed(2)}}%</strong>
                    </div>
                </div>
                <div class="row mt-3">
                    <label>Rateo: <strong>{{(numVittorie/numSconfitte).toFixed(1)}}</strong></label>
                </div>
            </div>
        </div>
    </div>

    <div class="content row mt-4 text-center" *ngIf="history!">
        <h3>Storico duelli</h3>
        <div class="shadow-lg mt-3 player-detail">
            <div class="mt-4" *ngIf="history!.page!>1">
                <div class="row d-flex justify-content-around">
                    <button type="button" class="col btn impagination" (click)="selectPage(1)"><i class='fa fa-angle-left'></i></button>
                    <button *ngFor="let number of getNumberRange(history?.page!)" type="button" class="col btn impagination" (click)="selectPage(number)">{{number}}</button>
                    <button type="button" class="col btn impagination" (click)="selectPage(history!.page!)"><i class='fa fa-angle-right'></i></button>
                </div>
            </div>
            <table class="table table-hover mt-4 text-center">
                <thead>
                    <tr>
                        <th scope="col">Modalità</th>
                        <th scope="col">Giocatori</th>
                        <th scope="col">Risultato</th>
                        <th scope="col">Data</th>
                    </tr>
                </thead>
                <tbody *ngIf="history?.reqs">
                    <tr *ngFor="let req of history?.reqs![pageSelected]">
                        <td>{{TypeMod[req.typeMod]}}</td>
                        <td>{{req.playerRicevente}} <strong>VS</strong> {{req.playerRichiedente}}</td>
                        <td>{{checkWin(req!.vincitore!) ? 'VITTORIA' : 'SCONFITTA'}}</td>
                        <td>{{req.dataUpdate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<div class="content mt-5" *ngIf="showModify">
    <form [formGroup]="modForm" (ngSubmit)="modify()">
        <div class="mt-3">
            <div class="input-group mb-3">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-user span_icon"></i></span>
                </div>
                <input #username id="name" formControlName="name" type="text" name="name" class="form-control" value="" placeholder="username" required>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-key span_icon"></i></span>
                </div>
                <input id="password" formControlName="password" type="password" name="password" class="form-control" value="" placeholder="password" required>
            </div>
            <div class="input-group mb-4">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-envelope span_icon"></i></span>
                </div>
                <input id="email" formControlName="email" type="text" name="email" class="form-control" value="" placeholder="email" required>
            </div>
            <hr>
            <div class="input-group mb-3">
                <select class="form-control" id="domanda" formControlName="domanda">
                    <option value="" selected="true" [disabled]="true">Domanda segreta</option>
                    <option *ngFor="let question of questions" value="{{question}}">{{question}}</option>
                </select>
            </div>
            <div class="input-group mb-4">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-exclamation span_icon"></i></span>
                </div>
                <input id="risposta" formControlName="risposta" type="text" name="risposta" class="form-control" value="" placeholder="risposta" required>
            </div>
            <button type="submit" name="button" class="btn login_btn">Modifica</button>
        
        </div>
    </form>
</div>