<player-status [player]="player"></player-status>

<div class="row">
    <market-buttons [buttons]="buttons" (buttonOperation)="buttonOperationHandler($event)"></market-buttons>
</div>

<div class="mt-5" *ngIf="!finishPurchase">
    <div class="row" *ngIf="!viewPack">
        <div class="col-12 d-flex justify-content-center">
            <h3>BENVENUTO IN EDICOLA</h3>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <label>Acquista il pack che preferisci</label>
        </div>
    </div>
     <div class="row mt-3">
        <div *ngIf="!viewPack" class="d-flex justify-content-around mt-3">
            <button type="button" class="col-3 btn btn-lg rounded-pill grigino" (click)="setTypePack(1)">MOSTRO</button>
            <button type="button" class="col-3 btn btn-lg rounded-pill grigino" (click)="setTypePack(2)">MAGIA</button>
            <button type="button" class="col-3 btn btn-lg rounded-pill grigino" (click)="setTypePack(3)">TRAPPOLA</button>
        </div>
    </div>
    <div class="row mt-3">
        <div *ngIf="!viewPack" class="d-flex justify-content-around mt-3">
            <button type="button" class="col-3 btn btn-lg rounded-pill grigino" (click)="setTypePack(4)">DAILY PACK</button>
        </div>
    </div>
    <div class="row mt-5" *ngIf="!viewPack">
        <div class="col-12 d-flex justify-content-center">
            <label>Acquista il pack solo mostri per attributo</label>
        </div>
    </div>
    <div class="row mt-3">
        <div *ngIf="!viewPack" class="d-flex justify-content-around mt-3">
            <button type="button" class="col-3 btn btn-lg rounded-pill grigino" (click)="setTypePack(7)">ACQUA</button>
            <button type="button" class="col-3 btn btn-lg rounded-pill grigino" (click)="setTypePack(8)">FUOCO</button>
            <button type="button" class="col-3 btn btn-lg rounded-pill grigino" (click)="setTypePack(9)">LUCE</button>
        </div>
    </div>
    <div class="row mt-3">
        <div *ngIf="!viewPack" class="d-flex justify-content-around mt-3">
            <button type="button" class="col-3 btn btn-lg rounded-pill grigino" (click)="setTypePack(10)">OSCURITA</button>
            <button type="button" class="col-3 btn btn-lg rounded-pill grigino" (click)="setTypePack(11)">TERRA</button>
            <button type="button" class="col-3 btn btn-lg rounded-pill grigino" (click)="setTypePack(12)">VENTO</button>
        </div>
    </div>
    <div class="row mt-5" *ngIf="!viewPack">
        <div class="col-12 d-flex justify-content-center">
            <label>Acquista il pack solo mostri per razza</label>
        </div>
    </div>
    <div class="row mt-3">
        <div *ngIf="!viewPack" class="d-flex justify-content-around mt-3">
            <button type="button" class="col-3 btn btn-lg rounded-pill grigino" (click)="setTypePack(6)">MOSTRI RAZZA</button>
        </div>
    </div>
    <div class="row mt-5" *ngIf="!viewPack">
        <div class="col-12 d-flex justify-content-center">
            <label>Acquista il deck che preferisci</label>
        </div>
    </div>
    <div class="row mt-3">
        <div *ngIf="!viewPack" class="d-flex justify-content-around mt-3">
            <button type="button" class="col-3 btn btn-lg rounded-pill grigino" (click)="setTypePack(5)">STARTER DECK</button>
        </div>
    </div>
    <div *ngIf="viewPack">
        <market-vetrina [packs]="packs" (confirmBuyEmitter)="acquista($event)"></market-vetrina>
    </div>
</div>

<div class="mt-5" *ngIf="!finishPurchase">
    <div class="row" *ngIf="!viewPack">
        <div class="col-12 d-flex justify-content-center">
            <label>Acquista coin tramite crediti</label>
        </div>
    </div>
     <div class="row mt-3" *ngIf="!viewCurrencyExchange">
        <div *ngIf="!viewPack" class="d-flex justify-content-around mt-3">
            <button type="button" class="col-3 btn btn-lg rounded-pill grigino" (click)="viewExchange()">CAMBIO VALUTA</button>
        </div>
    </div>
    <div class="row" *ngIf="viewCurrencyExchange" class="d-flex justify-content-around mt-3">
        <div class="col-5">
            <label>Quanti coin vuoi acquistare?</label>
            <input [(ngModel)]="numberCoins" type="number" step="300" class="form-control sfondino">
        </div>
    </div>
    <div class="row" *ngIf="viewCurrencyExchange" class="d-flex justify-content-around mt-3">
        <div class="col-5">
            <strong><label>{{numberCoins/300}} <i class="fa fa-diamond"></i></label>&nbsp;<i class="fa fa-arrow-right"></i>&nbsp;<label></label><label>{{numberCoins}} <i class="fa fa-database"></i></label></strong>
            
        </div>
    </div>
    <div class="row" *ngIf="viewCurrencyExchange" class="d-flex justify-content-around mt-3">
        <button type="button" class="col-3 btn btn-lg grigino" (click)="buyCoins()">ACQUISTA</button>
    </div>
</div>

<div class="mt-4" *ngIf="finishPurchase">
    <div>
        <opening-pack [cards]="viewCards" [zaino]="zaino"></opening-pack>
    </div>
    <div class="row">
        <div *ngFor="let pack of newPacks" class="col-3 d-flex justify-content-center pb-5">
            <div class="mt-5 position-relative">
                <img src="{{buyPackSrc}}" class="pack mb-3" (click)="openPack(pack.id)" />
                <div class="position-absolute bottom-10 start-50 translate-middle-x">
                    <button type="button" class="btn btn-sm btn-outline-success" style="width: 100px;" (click)="sellPack(pack)"><i class="fa fa-dollar"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
