<div class="row">
    <div class="d-flex justify-content-center mt-4">
        <h5>{{deck?.name}}</h5>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <deck-list [type]="1" [cards]="this.deck?.main!" (showCard)="showCard($event)" (removeCard)="removeCard($event)"></deck-list>
        <deck-list [type]="2" [cards]="this.deck?.extra!" (showCard)="showCard($event)" (removeCard)="removeCard($event)"></deck-list>
        <deck-list [type]="3" [cards]="this.deck?.side!" (showCard)="showCard($event)" (removeCard)="removeCard($event)"></deck-list>
    </div>
    
    <div class="col-6">
        <div class="d-flex justify-content-around mt-4">
            <h5 *ngIf="!viewFilter">LE TUE CARTE</h5>
            <input *ngIf="viewFilter" class="col-5" [(ngModel)]="filterName" type="text" class="form-control sfondino" placeholder="Cerca card">
            <button class="btn btn-sm rounded grigino" (click)="doFilter()"><i class="fa fa-filter"></i></button>
        </div>
        <table class="table table-hover mt-3 text-center">
            <thead>
                <tr>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">Nome</th>
                    <th scope="col">ATK</th>
                    <th scope="col">DEF</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let card of zaino | filterZaino: filterName!">
                    <td>
                        <button type="button" class="btn btn-outline-dark btn-sm" (click)="add(card)"><i class="fa fa-arrow-left"></i></button>
                    </td>
                    <td class="text-truncate" (click)="showCard(card)">{{card.name}}</td>
                    <td>{{card.atk}}</td>
                    <td>{{card.def}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
