<div class="content" role="main">

  <h3>ACCEDI</h3>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="mt-3">
          <div class="input-group mb-3">
              <div class="input-group-append">
                  <span class="input-group-text"><i class="fa fa-user span_icon"></i></span>
              </div>
              <input #username id="name" formControlName="name" type="text" name="name" class="form-control" value="" placeholder="username" required>
          </div>
          <div class="input-group mb-2">
              <div class="input-group-append">
                  <span class="input-group-text"><i class="fa fa-key span_icon"></i></span>
              </div>
              <input id="password" formControlName="password" type="password" name="password" class="form-control" value="" placeholder="password" required>
          </div>
          <button type="submit" name="button" class="btn login_btn">Login</button>
      </div>
  </form>
  <button *ngIf="viewActionButton" class="btn action_btn" (click)="doRegistrati()">Registrati adesso</button>
  <button *ngIf="viewActionButton" class="btn action_btn" (click)="doRecupera()">Recupera la tua password</button>
</div>