<notifier-buttons [buttons]="buttons" (buttonOperation)="buttonOperationHandler($event)"></notifier-buttons>

<div class="mt-4" *ngIf="!showMoreDetail">

    <label>Le tue richieste</label>

    <!-- <div class="mt-4" *ngIf="reqs?.length>1">
        <div class="row d-flex justify-content-around">
            <button type="button" class="col btn impagination" (click)="selectPage(1)"><i class='fa fa-angle-left'></i></button>
            <button *ngFor="let number of getNumberRange(dictReqs?.page!)" type="button" class="col btn impagination" (click)="selectPage(number)">{{number}}</button>
            <button type="button" class="col btn impagination" (click)="selectPage(dictReqs?.page!)"><i class='fa fa-angle-right'></i></button>
        </div>
    </div> -->
    <table class="table table-hover mt-4 text-center">
        <thead>
            <tr>
                <th scope="col">Status</th>
                <th scope="col">Player Richiedente</th>
                <th scope="col">Player Ricevente</th>
                <th scope="col">Modalità</th>
                <th scope="col">Data</th>
            </tr>
        </thead>
        <tbody *ngIf="reqs!.length>0">
            <tr *ngFor="let req of reqs" (click)="doDetail(req)">
                <td>{{Status[req.status]}}</td>
                <td>{{req.playerRichiedente}}</td>
                <td>{{req.playerRicevente}}</td>
                <td>{{TypeMod[req.typeMod]}}</td>
                <td>{{req.dataUpdate}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="mt-4" *ngIf="showMoreDetail">
    <div class="row mt-5 text-center">
        <h2>Dettaglio Richiesta</h2>
        <p class="mt-3">{{selectReq!.playerRichiedente!}}<strong> VS </strong>{{selectReq!.playerRicevente!}}<br><br>
            Vincita: <strong> {{selectReq!.vincita.coin!}} <i class="fa fa fa-database"></i> {{selectReq!.vincita.credits!}} <i class="fa fa fa-diamond"></i></strong><br><br>
            Sconfitta: <strong> {{selectReq!.perdita.coin!}} <i class="fa fa fa-database"></i> {{selectReq!.perdita.credits!}} <i class="fa fa fa-diamond"></i></strong><br><br>
        </p>
    </div>
    <div class="row mt-2 text-center">
        <label style="font-size: 18px; font-weight: normal">CARTE IN PALIO DA PARTE DI <strong>{{selectReq!.playerRichiedente}}</strong></label>
    </div>
    <div class="row mt-3 text-center">
        <div *ngFor="let card of selectReq!.plateReq" class="col">
            <img class="minicard" src="{{'https://images.ygoprodeck.com/images/cards/'+card.id+'.jpg'}}" (click)="showCard(card)" />
        </div>
    </div>
    <div class="row mt-3 text-center">
        <label style="font-size: 18px; font-weight: normal">CARTE IN PALIO DA PARTE DI <strong>{{selectReq!.playerRicevente}}</strong></label>
    </div>
    <div class="row mt-3 text-center">
        <div *ngFor="let card of selectReq!.plateOppo" class="col">
            <img class="minicard" src="{{'https://images.ygoprodeck.com/images/cards/'+card.id+'.jpg'}}" (click)="showCard(card)" />
        </div>
    </div>
    <div class="row mt-5 d-flex justify-content-around">
        <button type="button" class="col-3 btn btn-primary" (click)="confirm()"><i class="fa fa-check"></i> Accetta!</button>
        <button type="button" class="col-3 btn btn-danger" (click)="rifiuting()"><i class="fa fa-times-circle"></i> Rifiuta!</button>
    </div>
</div>