<div class="row d-flex justify-content-around mt-3">
    <button type="button" class="col-2 btn btn-lg rounded-pill grigino " (click)="refresh()"><i class='fa fa-refresh'></i></button>
</div>

<div class="mt-3">
    <label>Le tue richieste ricevute</label>
    <table class="table table-hover mt-2 text-center">
        <thead>
            <tr>
                <th scope="col">Status</th>
                <th scope="col">Player Richiedente</th> 
                <th scope="col">Modalità</th>
                <th scope="col">Data</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let req of myReqs" (click)="doDetail(req)">
                <td>{{Status[req.status]}}</td>
                <td>{{req.playerRichiedente}}</td>
                <td>{{TypeMod[req.typeMod]}}</td>
                <td>{{req.typeMod==1?req.dataIns:req.dataUpdate | date: 'dd/MM/yyyy'}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="mt-5">
    <label>Le tue richieste inviate</label>
    <table class="table table-hover mt-2 text-center">
        <thead>
            <tr>
                <th scope="col">Status</th>
                <th scope="col">Player Ricevente</th>
                <th scope="col">Modalità</th>
                <th scope="col">Data</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let req of reqs" (click)="doDetail(req)">
                <td>{{Status[req.status]}}</td>
                <td>{{req.playerRicevente}}</td>
                <td>{{TypeMod[req.typeMod]}}</td>
                <td>{{req.typeMod==1?req.dataIns:req.dataUpdate | date: 'dd/MM/yyyy'}}</td>
            </tr>
        </tbody>
    </table>
</div>