.grigino {
    background-color: #3a8530;
}

.grigino:hover {
    background-color:#853030;
    box-shadow: #3a8530;
}

table tr td, table tr th{
    background-color: transparent !important;
}

.tradecard {
    max-width: 80px;
}