<div class="d-flex justify-content-center">
    <div class="col-9">
        <app-player-status [player]="player"></app-player-status>
    </div>
</div>

<div class="row d-flex justify-content-center mt-5" >
    <button class="col-7 m-2 btn btn-lg rounded grigino" (click)="scontro()">SCONTRO</button>
    <button class="col-7 m-2 btn btn-lg rounded grigino" (click)="puntata()">PUNTATA</button>
    <button class="col-7 m-2 btn btn-lg rounded grigino" (click)="cardbettle()">CARD BETTLE</button>
    <button class="col-7 m-2 btn btn-lg rounded grigino" (click)="torneo()">TORNEO</button>
</div>