<deck-button [viewDetail]="viewDeck" [viewUpdate]="modifyDeck" [viewImport]="viewImport" (buttonOperation)="buttonOperationHandler($event)"></deck-button>

<div class="row mt-5" *ngIf="!viewDeck && !modifyDeck">
    <div class="row d-flex justify-content-center mb-5" *ngIf="modifyDeckName">
        <div class="col-5" *ngIf="viewModifyNameDeck">
            <div class="row">
                <label>Scegli il nuovo nome del deck</label>
            </div>
            <div class="row">
                <div class="col">
                    <input class="col-5" [(ngModel)]="modifyDeckName" type="text" class="form-control sfondino" placeholder="Cerca user">
                </div>
                <div class="col-2">
                    <button class="btn btn-md rounded sfondino" (click)="saveName()"><i class="fa fa-save"></i></button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center" *ngFor="let deck of decks">
        <button class="col-5 m-2 btn btn-lg rounded grigino" (click)="view(deck.id)">
            {{deck.name}} 
        </button>
        <button class="col-1 m-2 btn btn-sm rounded grigino" *ngIf="viewModifyNameDeck" (click)="doModifyDeckName(deck.name)"><i class="fa fa-pencil"></i></button>
        <button class="col-1 m-2 btn btn-sm rounded grigino" *ngIf="viewModifyNameDeck" (click)="doDeleteDeck(deck.id)"><i class="fa fa-trash"></i></button>
    </div>
</div>

<deck-detail [deckId]="deckId" *ngIf="viewDeck"></deck-detail>
<deck-edit [deckId]="deckId" [playerId]="playerId" *ngIf="modifyDeck"></deck-edit>