<div class="row">
    <market-buttons [buttons]="buttons" (buttonOperation)="buttonOperationHandler($event)"></market-buttons>
</div>

<div class="row mt-4 text-center">
    <h3>TEXTURE SHOP</h3>
</div>

<div class="text-center">
    <label>Scegli la categoria di texture che preferisci modificare</label>
    <div class="row mt-4 d-flex justify-content-around mt-2" *ngIf="typeCase === 0">
        <button type="button" class="col-2 btn btn-lg rounded-pill grigino " (click)="showTexture(1)">SFONDI</button>
        <button type="button" class="col-2 btn btn-lg rounded-pill grigino " (click)="showTexture(2)">COVER</button>
        <button type="button" class="col-2 btn btn-lg rounded-pill grigino " (click)="showTexture(3)">ATTACCO</button>
    </div>
</div>



<div *ngIf="typeCase === 2">
    <div class="row d-flex justify-content-around" *ngIf="selectedTexture && selectedTexture.selected">
        <div class="col-3 d-flex justify-content-around mt-2">
            <div class="m-3 position-relative text-center">
                <label> La mia cover </label>
                <img src="{{'assets/textures/cover/'+selectedTexture.selected.cover+'.png'}}" class="cover mb-3" />
            </div>
            <div class="m-3 position-relative text-center">
                <label> Cover Avversario </label>
                <img src="{{'assets/textures/cover/'+selectedTexture.selected.cover2+'.png'}}" class="cover mb-3" />
            </div>
        </div>
    </div>
    
    <div class="row mt-5 text-center">
        <h4>Scegli e acquista le cover che preferisci</h4>
        <div *ngFor="let sh of skinshop" class="col-3 d-flex justify-content-center pb-5">
            <div class="mt-3 position-relative">
                <img src="{{sh.src}}" class="cover mb-3" />
                <div class="position-absolute bottom-10 start-50 translate-middle-x">
                    <button type="button" class="btn btn-sm btn-outline-success" style="width: 100px;" (click)="acquistaTexture(sh)">
                        <div *ngIf="!checkPurchase(sh.name)">
                            {{sh.cost}} <i class="fa fa-database"></i>
                        </div>
                        <div *ngIf="checkPurchase(sh.name)">
                            SELEZIONA
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
