<div class="d-flex justify-content-center">
    <div class="col-9">
        <app-player-status [player]="player" *ngIf="!viewCard"></app-player-status>
        
        <div class="row">
            <marketplace-button [viewCard]="viewCard" (buttonOperation)="buttonOperationHandler($event)"></marketplace-button>
        </div>

        <div class="row pt-3">
            <marketplace-vendita *ngIf="viewCard" [playerId]="player?._id!" (showCard)="showCard($event)" (sellCard)="sellCard($event)"></marketplace-vendita>

            <table class="table table-hover mt-3 text-center" *ngIf="!viewCard">
                <thead>
                    <tr>
                        <th scope="col">Costo</th>
                        <th scope="col">Nome</th>
                        <th scope="col">ATK</th>
                        <th scope="col">DEF</th>
                        <th scope="col">Player</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let card of marketPlace">
                        <td>{{card.cost}}</td>
                        <td class="text-truncate" (click)="showCard(card)">{{card.name}}</td>
                        <td>{{card.atk}}</td>
                        <td>{{card.def}}</td>
                        <td>{{card.player}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
