<div class="d-flex justify-content-center">
    <div class="col-9">
        <app-player-status [player]="player" [numberNotify]="numberNotify"></app-player-status>

        <div class="row pt-5">
            <div class="d-flex justify-content-around">
                <button class="btn btn-lg" (click)="modificaDeck()">MODIFICA DECK</button>
                <button class="btn btn-lg" (click)="marketPlace()">MARKET PLACE</button>
            </div>
        </div>

        <div class="row pt-5">
            <div class="d-flex justify-content-around">
                <button class="btn btn-lg" (click)="giocaAdesso()">GIOCA ADESSO</button>
            </div>
        </div>
    </div>
</div>
