.pack {
    width: 220px;
}

.pack:hover {
    opacity: 0.7;
}

.numcard {
    border: 5px solid red;
    border-radius: 100%;
    background: red;
    padding: 0 10px;
}

.grigino {
    background-color: #3a8530;
}

.grigino:hover {
    background-color:#853030;
    box-shadow: #3a8530;
}